<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./public/css/style2.css" />
    <title>BarHop</title>

  </head>
  <body>
    <div>
      <div class="front">
        <h1 id="intro">Hello</h1>
        <h2>Hoppers!</h2>
      </div>
      <div class="enterAge hide">
        <label>Enter your age:</label>
        <input type="text" placeholder="age.." id="myInput" /><br />
        <button class="submit" type="button" onclick="getInputValue();">
          Submit
        </button>
      </div>
      <h3 id="ageVal"></h3>
    </div>
    <button class="explore pushable" onclick="letsExplore();">
      <span class="exploreTxt">Let's Explore </span>
    </button>
    <script src="./landing.handlebars"></script>
  </body>
</html>
