<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Island+Moments&family=Luxurious+Roman&family=Moon+Dance&display=swap"
      rel="stylesheet"
    />
    <link
      href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap"
      rel="stylesheet"
    />

    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/style2.css" />
    <title>BarHop</title>
    {{! <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script> }}
    <script>
      $( function() { $(".sortable").sortable({ cancel: "" }); } );
    </script>
  </head>
  <body>

    {{{body}}}

  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"
  ></script>
  <script
    src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=S8d7L47mdyAG5nHG09dUnSPJjreUVPeC"
  ></script>
  <script
    src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=S8d7L47mdyAG5nHG09dUnSPJjreUVPeC"
  ></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"
  ></script>
</html>