    <div class="holy-grail-grid">
      <div class="holy-grail-header">
        <div class="heading">
          <span class="fast-flicker">b</span>ar<span class="flicker">h</span>op
        </div>
        <div class="option">
          <ul>
                <li type="button">blogs</li>
                <li type="button">logout</li>
          </ul>
          </div>
        <div class="neon">
          <span class="text" data-text="Let's Get Ready To Stumble">Let's Get Ready To Stumble </span>
          <span class="gradient"></span>
          <span class="spotlight"></span>
        </div>
      </div>
      
      <form class="holy-grail-left">
        <h2 class="text-center">Search for a City</h2>
        <div class="input-group input-group-rounded">
          <input class="input-group-field" name="city" id="search-bar" type="search">
          <div class="input-group-button">
            <input type="submit" onclick="getBarVal()" class="button primary" value="Search">
          </div>
        </div>
        <p id = 'error-msg'></p>   
        <input type="submit" id="clear-list" class="button secondary expanded" value="Clear List"></input>
        <div id="bar-history">
          <div class="sortable"></div>
        </div>
        <input type="submit" id="generate-route" class="button secondary expanded" value="Generate Route"></input>
      </form>
    
      <div class="mid" id="bars-div"></div>  
      

      <div class="holy-grail-right">
        <h2 class="text-center">Generated Route</h2>
        <div id='map'></div>
      </div>

      <div class="holy-grail-footer">
        <h3>© BarHop Software 2022</h3>
        <div id="icon">
        <a href="https://github.com/SatyaHMehta/firstGroupProject" target="_blank" ><img class="right" src="./Images/github-icon.svg" alt="github-icon"/></a>
        <a href="https://www.instagram.com/the_barhopapp/" target="_blank"><img class="right" id='insta' src="./Images/1161953_instagram_icon.svg" alt="1161953_instagram_icon"/></a>
        </div> 
      </div>
    </div>