<div class="log-form">
    <h2>Login to your account</h2>
    <form>
      <input type="text" title="username" placeholder="username" />
      <input type="password" title="password" placeholder="password" />
      <button type="submit" class="btn">Login</button>
      <a class="forgot" href="#">Forgot Username?</a>
    </form>
  </div>

  <div class="register-form">
    <h2>Sign Up</h2>
    <form>
      <input type="text" title="email" placeholder="email" id="email-signup">
      <input type="text" title="username" placeholder="username" id="name-signup" />
      <input type="password" title="password" placeholder="password" id="password-signup" />
      <button type="submit" class="btn">Signup</button>
    </form>
  </div>


