<div class="review-form">
    <h2>Write a review</h2>
    <form>
      <input type="text" title="title" placeholder="title" />
      <input type="text" title="username" placeholder="username" />
      <input type="text" title="date" placeholder="date" />
      <input type="text" title="comment" placeholder="comment" />
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>