 <link rel="stylesheet" href="./css/style.css" />
 <div class="holy-grail-grid">
      <div class="holy-grail-header">

        <nav class="option container-fluid justify-content-start ">
          <ul>
                <button class="btn-outline-success me-2" type="button">blogs</button>
                <button id="home-logout" class="btn-sm btn-outline-secondary" type="button">logout</button>
          </ul>
          </nav>
        <div class="heading">
         <span class="fast-flicker">b</span>ar<span class="flicker">h</span>op
        </div>
        
              <div class="neon">
          <span class="text" data-text="Let's Get Ready To Stumble">Let's Get Ready To Stumble </span>
          <span class="gradient"></span>
          <span class="spotlight"></span>
        </div>
      </div>
      
      <form class="holy-grail-left">
        <h2 class="text-center">Search for a City</h2>
        <div class="input-group input-group-rounded">
          <input class="input-group-field" name="city" id="search-bar" type="search">
          <div class="input-group-button">
            <input type="submit" onclick="getBarVal()" class="button primary" value="Search">
          </div>
        </div>
        <p id = 'error-msg'></p>   
        <input type="submit" id="clear-list" class="button secondary expanded" value="Clear List"></input>
        <div id="bar-history">
          <div class="sortable"></div>
        </div>
        <input type="submit" id="generate-route" class="button secondary expanded" value="Generate Route"></input>
        <div>
           <button type="button" id="write-a-review" class="button success">Write a review</button>
        </div>
      </form>
    
      <div class="mid" id="bars-div"></div>  
      

      <div class="holy-grail-right">
        <h2 class="text-center">Generated Route</h2>
        <div id='map'></div>
      </div>
    </div>
    <script src="./javascript/script.js"></script>