* {
  margin: 0;
  padding: 0;
}
body {
  background-color: blue;
  color: white;
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  background: linear-gradient(-45deg, #1e3185, #b80541, #1a1929, #2980e2);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.front {
  font-size: 50px;
  padding-top: 10%;
  padding-bottom: 20px;
}

.explore {
  padding: 20px;
  font-size: 20px;
  border-radius: 15px;
}
.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.exploreTxt {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .exploreTxt {
  transform: translateY(-2px);
}
.hide {
  display: none;
}

.submit {
  padding: 10px;
  background-color: red;
  color: white;
  border: darkred;
  border-radius: 15px;
  font-size: 16px;
}
#myInput {
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  width: 50px;
  text-align: center;
}
.show {
  font-size: 30px;
}
.enterAge {
  text-align: center;
}
