* {
  margin: 0;
  padding: 0;
}
body {
  background-color: blue;
  color: white;
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  background: linear-gradient(-45deg, #2d2d2e, #dbd2d5, #807f86, #939596);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.front {
  font-size: 50px;
  padding-top: 10%;
  padding-bottom: 20px;
}

.explore {
  padding: 20px;
  font-size: 20px;
  border-radius: 15px;
}
.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.exploreTxt {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .exploreTxt {
  transform: translateY(-2px);
}
.hide {
  display: none;
}

.submit {
  padding: 10px;
  background-color: red;
  color: white;
  border: darkred;
  border-radius: 15px;
  font-size: 16px;
}
#myInput {
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  width: 50px;
  text-align: center;
}
.show {
  font-size: 30px;
}
.enterAge {
  text-align: center;
}
.col-md-6 {
  border: rgb(2, 2, 2) solid 6px;
  padding: 60px;
  margin: 10px;
}
.row {
  display: inline-flex;
}

.option button {
  color: aliceblue;
  font-size: 20px;
  border: white solid 1px;
  border-radius: 15px;
  width: 6vw;
  height: 4vh;
  display: inline-flex;
  justify-content: space-around;
  position: relative;

  flex-wrap: wrap;
}
.option {
  display: inline-flexbox;
  float: right;
}

.menu {
  display: inline;
}

.btn {
  border: solid 2px rgb(94, 91, 91);
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 5px 7px #888888;
}
.review-form h2 {
  font: 60px bolder;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
}
.views {
  border: black solid 3px;
}